fastapi==0.115.0
uvicorn[standard]==0.30.6
pydantic==2.9.2
pydantic-settings==2.5.2
sqlalchemy==2.0.35
asyncpg==0.29.0
alembic==1.13.2
confluent-kafka==2.5.3
httpx==0.27.2
pybreaker==1.2.0
tenacity==9.0.0
redis==5.0.8
opentelemetry-api==1.27.0
opentelemetry-sdk==1.27.0
opentelemetry-instrumentation-fastapi==0.48b0
opentelemetry-instrumentation-httpx==0.48b0
sentry-sdk[fastapi]==2.14.0