fastapi==0.115.0
uvicorn[standard]==0.30.6
pydantic==2.9.2
pydantic-settings==2.5.2
confluent-kafka==2.5.3
elasticsearch==8.15.1
tenacity==9.0.0
opentelemetry-api==1.27.0
opentelemetry-sdk==1.27.0
opentelemetry-instrumentation-fastapi==0.48b0
sentry-sdk[fastapi]==2.14.0